* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}



h1 {
  text-align: center;
}

.giorni-mese {
  list-style: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holidays {
  color: red;
}

button {
  margin: 0 50px;
}
